#topo{
    position: fixed;
    left: 90%;
    top: 90%;
    z-index: 2;
}
.navLink:hover{
    background-color: lightcoral;
    border-radius: 10px;
    transition: 150ms;
}

#desconto{
    font-family:cursive;
    
}



#carrossel1{
    height: 300px;
}

#carrossel2{
    height: 300px;
}
#carrossel3{
    height: 300px;
}

#article{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.textLink{
    text-decoration: none;
    color: black;
}

#facebook, #instagram, #twitter{
    width: 50px;
}

@media screen and (min-width: 388px) and (max-width: 447px) {

        #redesSociais{
            
            padding: 30px;
        }
}



@media screen and (min-width: 448px) and (max-width: 533px) {

    #redesSociais{

        margin-left: 30px;
    }
}

.formaDePagamento{
    width: 300px;
}

