#topo{
    position: fixed;
    left: 90%;
    top: 90%;
    z-index: 2;
}

.navLink:hover{
    background-color: lightcoral;
    border-radius: 10px;
    transition: 150ms;
}
.article{
    background-image: url(imagens/Fundo3.jpg);
    width: 100%;
    height: 380px;
    
}

.section{
    margin-left: 15%;
    background-color: rgba(255, 255, 255, 0.548);
    text-align: center;
    width: 95%;
    }

#colorCard{
    background-color: rgba(184, 184, 184, 0.377);
}   

h1{
    font-family:'Times New Roman', Times, serif ;
}

.hoverCards:hover{
    
    box-shadow: 0 0 1em red;
    

}

#cruzeiro1{
    background-image: url(imagens/fundoCruzeiro_4.jpg);
    height: 300px;
    border-radius: 5px;
}
#cruzeiro2{
    background-image: url(imagens/fundoCruzeiro_1.jpg);
    height: 300px;
    border-radius: 5px;
}
#cruzeiro3{
    background-image: url(imagens/fundooCruzeiro_2.jpg);
    height: 300px;
    border-radius: 5px;
}

.textLink{
    text-decoration: none;
    color: black;
}

#facebook, #instagram, #twitter{
    width: 50px;
}

@media screen and (min-width: 388px) and (max-width: 447px) {

        #redesSociais{
            
            padding: 30px;
        }
}



@media screen and (min-width: 448px) and (max-width: 533px) {

    #redesSociais{

        margin-left: 30px;
    }
}

.formaDePagamento{
    width: 300px;
}

.inline{
    display: inline;
}